.section-2 {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-2 h1 {
  margin-top: 10rem;
  font-size: 5rem;
  font-weight: 400;
  color: #fff;
}

.section-2 .steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70rem;
  margin-bottom: 5rem;
}

.section-2 .lottie {
  width: 25rem;
}

.section-2 .text h2 {
  font-size: 4rem;
  letter-spacing: -0.5rem;
  font-weight: 300;
  color: #00abb3;
}

.section-2 .text p {
  color: #fff;
  font-size: 3rem;
}

@media (max-width: 1000px) {
  .section-2 .steps {
    flex-direction: column;
    text-align: center;
    margin: 2rem 0;
  }

  .section-2 .step-1, .section-2 .step-3, .section-2 .step-5 {
    flex-direction: column-reverse;
  }

}

@media (max-width: 500px) {
  .section-2 h1 {
    margin: 5rem 0;
  }

  .section-2 .steps {
    width: 100%;
    height: 40rem;
  }
}
