.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-2 h1 {
  font-size: 7rem;
  font-weight: 700;
  color: #000000;
  margin: 10rem 0 4rem 0;
}

.section-2 span {
  background: -webkit-linear-gradient(87deg, #36beff, #733ff1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-2 p {
  width: 70rem;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  line-height: 4rem;
  color: #3f4254;
}

@media (max-width: 700px) {
  .section-2 p {
    width: 90%;
  }
}
