.section-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10rem 15rem;
}

.why-description {
  text-align: center;
  width: 50%;
}

.section-2 h1 {
  font-size: 7rem;
  font-weight: 700;
  color: #000000;
}

.section-2 span {
  background: -webkit-linear-gradient(87deg, #36beff, #733ff1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-2 p {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #3f4254;
}

.section-2 img {
  width: 40%;
}

@media (max-width: 1200px) {
  .section-2 {
    padding: 10rem 5rem;
  }
}

@media (max-width: 1000px) {
  .section-2 {
    flex-direction: column;
    padding: 10rem 0 0 0;
  }

  .why-description {
    width: 90%;
  }

  .section-2 img {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .section-2 img {
    width: 90%;
  }
}
