.section-4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-4 h1 {
  margin: 15rem 0 5rem 0;
  font-size: 6rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.section-4 span {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(87deg, #36beff, #733ff1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-4 .container {
  position: relative;
  height: 110rem;
  width: 80%;
  background-color: #f2f7fb;
  border-radius: 2rem;
}

.section-4 .user-arrow {
  position: absolute;
  left: 28%;
  top: 15rem;
  width: 30%;
  height: 90rem;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.section-4 .chain-arrow {
  position: absolute;
  right: 15%;
  top: 35rem;
  width: 45%;
  height: 45rem;
  border: 2px solid #000;
}

.section-4 .user-img {
  width: 15rem;
  position: absolute;
  top: 8%;
  left: 15%;
}

.section-4 .user-valid {
  width: 20rem;
  position: absolute;
  bottom: 0;
  left: 15rem;
}

.section-4 .img-wrapper {
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 20%;
  left: 50%;
  background-color: #f2f7fb;
}

.section-4 .img-wrapper img {
  width: 8rem;
  margin: 1rem;
}

.section-4 .blockchain-img {
  width: 20rem;
  position: absolute;
  top: 68rem;
  right: 40rem;
  background-color: #f2f7fb;
  padding: 1rem;
}

.section-4 p {
  width: 40rem;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
  color: #3f4254;
  position: absolute;
}

.section-4 .step-1 {
  top: 10%;
  left: 25%;
}

.section-4 .step-2 {
  right: 17%;
  top: 50rem;
  width: 28rem;
  text-align: left;
}

.section-4 .step-3 {
  top: 43rem;
  left: 15rem;
  width: 30rem;
  text-align: right;
}

.section-4 .step-4 {
  top: 90rem;
  right: 18rem;
  width: 30rem;
  text-align: left;
}

.section-4 .doc-link {
  text-decoration: none;
  color: #ffffff;
  background-color: #0060ff;
  font-size: medium;
  margin: 5rem;
  letter-spacing: 0.1rem;
  border: none;
  margin-right: 3rem;
  padding: 1.5rem 6rem;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 1.5rem;
}

.section-4 .doc-link:hover {
  background-color: #000;
}

@media (max-width: 500px) {
  .section-4 h1 {
    margin-top: 5rem;
  }
}
