.cs-bar {
  display: flex;
  align-items: center;
  padding: 3rem 10rem;
  justify-content: center;
}

.cs-bar .img-container {
  display: flex;
  padding: 0 2rem;
}

.cs-bar h2 {
  font-size: 2rem;
  font-weight: 500;
}

.cs-bar .img-container img {
  width: 5rem;
  margin: 0 1rem;
}

@media (max-width: 1400px) {
  .cs-bar h2 {
    font-size: 2rem;
  }

  .cs-bar .img-container img {
    width: 6rem;
    margin: 0 1rem;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 1000px) {
  .cs-bar {
    margin-top: 5rem;
    padding: 3rem 1rem;
  }

  .cs-bar .img-container {
    padding: 0rem;
    margin: 2rem 0;
  }

  .cs-bar .img-container img {
    width: 4rem;
    margin: 0 .5rem;
  }
}

@media (max-width: 500px) {
  .cs-bar {
    flex-direction: column;
    margin-top: 30rem;
  }

  .cs-bar .img-container img {
    width: 5rem;
    margin: 0 .5rem;
  }

  .cs-bar h2 {
    font-size: 3rem;
  }
}
