.section-1 {
  height: 90vh;
  margin: 0 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.section-1 .lottie,
.section-1 .text {
  width: 50rem;
}

.section-1 .text h1 {
  font-size: 6rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  padding-bottom: 2rem;
}

.section-1 .text span {
  color: #00abb3;
}

.section-1 .text p {
  font-size: 2.5rem;
  word-spacing: 0.5rem;
  color: #b2b2b2;
}

@media (max-width: 1000px) {
  .section-1 {
    justify-content: center;
  }

  .section-1 .text {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 999;
  }

  .section-1 .lottie {
    filter: brightness(40%);
  }
}

@media (max-width: 500px) {
  .section-1 {
    height: 100vh;
    margin: 0;
  }

  .section-1 .text {
    width: 90%;
    text-align: center;
  }
}
