.section-1 {
  height: 90vh;
  margin: 0 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.section-1 .lottie,
.section-1 .text {
  width: 60rem;
}

.section-1 .text h1 {
  font-size: 6rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  padding-bottom: 2rem;
}

.section-1 .text span {
  color: #13fee2;
}

.section-1 .text p {
  font-size: 2.5rem;
  word-spacing: 0.5rem;
  color: #b2b2b2;
}

.section-1 .text .btn-wrapper {
  padding: 3rem 0;
}

.section-1 .text .btn {
  font-size: 1.8rem;
  letter-spacing: .1rem;
  border:  2px solid #13fee2;
  margin-right: 2rem;
  padding: 1.5rem 4rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: all .3s;
}

.section-1 .text .btn-left {
  background-color: #13fee2;
  color: #3c4048;
}

.section-1 .text .btn-right {
  background-color: transparent;
  color: #13fee2;
}

.section-1 .text .btn-right:hover {
  background-color: #13fee2;
  color: #3c4048;
}

@media (max-width: 1000px) {
  .section-1 {
    justify-content: center;
  }

  .section-1 .text {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 999;
  }

  .section-1 .lottie {
    filter: brightness(40%);
  }
}

@media (max-width: 600px) {
  .section-1 {
    margin: 0;
  }

  .section-1 .text {
    width: 90%;
    text-align: center;
  }
}
