.section-1 {
  height: 90vh;
  justify-content: space-between;
  position: relative;
}

.section-1 .lottie {
  position: absolute;
  right: 15rem;
}

.section-1 .text {
  position: absolute;
  top: 15rem;
  left: 15rem;
}

.section-1 .text h1 {
  font-size: 6rem;
  font-weight: 500;
  width: 50rem;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  padding-bottom: 2rem;
}

.section-1 .text span {
  color: #00ABB3;
}

.section-1 .text p {
  font-size: 2.5rem;
  word-spacing: .5rem;
  width: 50rem;
  color: #B2B2B2;
}

@media (max-width: 500px) {
  .section-1 {
    height: 80vh;
    justify-content: space-between;
    position: relative;
  }

  .lottie {
    position: absolute;
    right: 0;
  }

  .text {
    position: absolute;
    top: 17rem;
    left: 2rem;
  }

  .text h1 {
    font-size: 10rem;
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
    color: #fff;
    height: 16rem;
  }

  .text span {
    font-family: "Shalimar";
    font-size: 16rem;
    color: #00abb3;
    font-weight: 600;
  }

  .text p {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    color: #fff;
  }
}
