.section-1 {
  height: 90vh;
  justify-content: space-between;
  position: relative;
}

.section-1 .lottie {
  position: absolute;
  right: 15rem;
}

.section-1 .text {
  position: absolute;
  top: 15rem;
  left: 15rem;
  width: 50rem;
}

.section-1 .text h1 {
  font-size: 6rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  padding-bottom: 2rem;
}

.section-1 .text span {
  color: #00abb3;
}

.section-1 .text p {
  font-size: 2.5rem;
  word-spacing: 0.5rem;
  color: #b2b2b2;
}

@media (max-width: 500px) {
  .section-1 {
    height: 100vh;
    overflow-x: hidden;
  }

  .section-1 .lottie {
    right: 0;
    width: 70rem;
    filter: brightness(40%);
  }

  .section-1 .text {
    top: 25rem;
    left: 2rem;
    width: 45rem;
  }

  .section-1 .text h1 {
    text-align: center;
    font-size: 6rem;
    height: 15rem;
  }

  .section-1 .text p {
    text-align: center;
  }
}
