.section-1-main {
  width: 100%;
  height: 110vh;
  background-color: #f8fafe;
  background-image: url(../Images/background-img.jpg);
  /* background-position: 50% 50%; */
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(100% 0, 100% 95%, 5% 100%, 0 100%, 0 0);
}

.section-1 {
  margin: 10rem 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.section-1 .text {
  width: 55rem;
}

.section-1 .text h1 {
  font-size: 7rem;
  font-weight: 700;
  color: #000000;
  padding-bottom: 3rem;
  line-height: 8rem;
}

.section-1 .text span {
  font-size: 6rem;
  color: #0060ff;
}

.section-1 .text p {
  font-size: medium;
  font-weight: 500;
  color: #3f4254;
}

.section-1 .text .btn-wrapper {
  padding: 3rem 0;
}

.section-1 .text .btn {
  font-size: medium;
  letter-spacing: 0.1rem;
  border: none;
  margin-right: 3rem;
  padding: 1.5rem 6rem;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 1.5rem;
}

.section-1 .text .btn-left {
  background-color: #0060ff;
  color: #ffffff;
}

.section-1 .text .btn-right {
  background-color: #000000;
  color: #ffffff;
}

.section-1 .img-container {
  display: flex;
  align-items: center;
}

.section-1 .img-container .img-wrapper {
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.section-1 .img-container .arrow-wrapper {
  width: 15rem;
  height: 10rem;
}

.section-1 .img-container .img-wrapper img {
  width: 8rem;
  margin: 1rem;
}

.section-1 .img-container .img-wrapper .arrow-img {
  width: 8rem;
  margin: 1rem;
}

@media (max-width: 1000px) {
  .section-1 {
    justify-content: center;
  }

  .section-1 .text {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 999;
  }
}

@media (max-width: 600px) {
  .section-1 {
    margin: 0;
  }

  .section-1 .text {
    width: 90%;
    text-align: center;
  }
}
