.section-5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-5 h1 {
  margin: 10rem 0 5rem 0;
  font-size: 7rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
  line-height: 6rem;
}

.section-5 span {
  letter-spacing: 0.5rem;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(87deg, #36beff, #733ff1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-5 .faq-container {
  width: 70rem;
  border: 1px solid #d2dbf2;
  border-radius: 2rem;
  margin: 5rem 0 10rem 0;
  padding: 2rem 5rem 5rem 5rem;
}

@media (max-width: 1000px) {
  .section-5 .faq-container {
    padding: 0;
    width: 95%;
  }
}
