.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 15rem 0 15rem;
}

h1 {
  font-size: 5rem;
  color: #fff;
  /* font-weight: 400; */
  cursor: pointer;
}

a {
  font-size: 1.8rem;
  padding: 0 4rem;
  transition: all 0.5s;
}

i {
  padding: 1.5rem;
  border-radius: 50%;
  background-color: #13fee2;
  color: #3c4048;
  transition: all 0.2s;
}

i:hover {
  color: #13fee2;
  background-color: transparent;
}

@media (max-width: 600px) {
  .navbar {
    justify-content: space-between;
    padding: 2rem;
  }

  .links {
    padding-right: 0rem;
  }

  a {
    color: #fff;
    padding: 0 2rem;
    transition: all 0.5s;
  }
}
