.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  color: #0060ff;
  cursor: pointer;
}

a {
  margin: 0 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
}

a:hover {
  color: #0060ff;
}
