.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 15rem;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  color: #0060ff;
  cursor: pointer;
}

a {
  margin: 0 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
}

a:hover {
  color: #0060ff;
}

@media (max-width: 600px) {
  .navbar {
    justify-content: space-between;
    padding: 2rem;
  }

  .links {
    padding-right: 0rem;
  }

  a {
    color: #fff;
    padding: 0 2rem;
    transition: all 0.5s;
  }
}
