.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 15rem;
}

h1 {
  font-size: 5rem;
  color: #fff;
  /* font-weight: 400; */
  cursor: pointer;
}

a {
  font-size: 2.5rem;
  color: #fff;
  padding: 0 4rem;
  transition: all 0.5s;
}

a:hover {
  color: #00abb3;
}

@media (max-width: 500px) {
  .navbar {
    justify-content: space-between;
    padding: 2rem;
  }

  .links {
    padding-right: 0rem;
  }

  a {
    color: #fff;
    padding: 0 2rem;
    transition: all 0.5s;
  }
}
