.features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features h1 {
  margin: 10rem 0 5rem 0;
  font-size: 5rem;
  font-weight: 400;
  color: #fff;
}

.features .features-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  flex-wrap: wrap;
}

@media (max-width:500px) {
  .features .features-container {
    width: 90%;
  }

  .features h1 {
    margin-top: 0;
  }
}