.feature {
  width: 30rem;
  height: 20rem;
  margin: 2rem;
  background: #ffffff;
  border-radius: 2rem;
  padding: 3rem;
  border: 1px solid #d2dbf2;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.feature:hover {
  transform: scale(1.1);
}

.feature i {
  font-size: 3rem;
  color: #3c4048;
}

.feature i:hover {
  color: #3e97ff;
}

.feature p {
  font-size: 1.8rem;
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 500;
  color: #3f4254;
}

@media (max-width: 500px) {
  .feature {
    width: 90%;
    height: 25rem;
    margin: 2rem;
    text-align: center;
  }

  .feature p {
    font-size: 2.5rem;
    margin: 3rem;
  }

  .feature i {
    font-size: 5rem;
    margin-top: 2rem;
  }
}
